<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Fundamental Fives</h1>
    <p>
        <div>1. Use DOCTYPE to specify HTML version 5</div>

        <div>2. Use HTML tags to contain ALL of the HTML</div>

       <div>3. Place head tags as first child tag of the HTML tag</div>

        <div>4. Place title tag as child tag of the head tag</div>

        <div>5. Place body tag after head tag</div>
    </p>
</main>


<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>
